*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-app{
   width: 30vw;
   min-height: 40vh;
   border: 1px solid white;
   background-color: aliceblue;
   padding: 40px 30px 70px;
   margin: 100px auto 20px;
   border-radius: 10px;
}
.todo-app h2{
    color: rgb(76, 76, 24);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.todo-app h2 img{
     width: 30px;
     margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    outline: none;
    border: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    top: 12px;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #847979;
    text-decoration: line-through;
}
ul li .checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
     border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
@media (max-width:1004px){
    .todo-app{
        width: 39vw;
        min-height: 27vh;
    }
    .row{
        padding-left: 9px;
    }
    button{
        font-size: 11px;
    }
}
@media (max-width:883px){
    input{
        padding: 1px;
    }
}
@media (max-width:813px){
    button{
    border: none;
    outline: none;
    padding: 16px 40px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    }
}
@media (max-width:752px){
    .todo-app{
        width: 34vw;
    }
    .row{
        /* display: inline-block; */
        width: 100px;
    }
    input{
        font-size: 12px;
    }
}
@media(max-width:709px){
    .row{
        display: inline-block;
    }
    input{
        font-size: 10px;
    }
} 
@media(max-width:698px){
    .row{
        display: flex;
    }
}
@media(max-width:612px){
    button{
        padding: 8px 29px 8px;
    }
    ul li{
        font-size: 16px;
        padding: 12px 8px 12px 28px;
    }
    ul li::before{
        height: 18px;
        width: 18px;
    }
}
@media(max-width:513px){
    ul li{
        font-size: 12px;
        padding: 16px 8px 12px 27px;
    }
    ul li::before{
        top: 15px;
        height: 14px;
        width: 14px;
}
    }

@media(max-width:550px){
    button{
        padding: 3px 29px 8px;
        font-size: 10px;
    }
    input{
        font-size: 8px;
    }
    
}
@media(max-width:505px){
    input{
        font-size: 8px;
    }
}
@media(max-width:447px){
    button{
        padding: 10px 14px 10px 12px;
        font-size: 9px;
    }
    .todo-app h2{
        font-size: 21px;
    }
    ul li::before{
        height: 23px;
        width: 23px;
        left: 4px;
    }
}
@media(max-width:422px){
    button{
        padding: 10px 14px 10px 12px;
        font-size: 9px;
    }
    input{
        font-size: 6px;
    }
    ul li{
        padding: 16px 8px 12px 20px;
    }
    ul li span{
        right: -13px;
    }
    ul li::before{
        height: 15px;
        width: 15px;
        left: 0px;
    }
}
@media(max-width:320px){
    .todo-app h2{
        font-size: 15px;
    }
    ul li::before{
        height: 19px;
        width: 19px;
        left: 1px;
    }
    ul li span{
        top: 2px;
        width: 40px;
        height: 40px;
    }
    ul li{
        font-size: 18px;
        padding: 10px 8px 12px 33px;
    }

}
@media(max-width:319px){
    ul li{
        padding: 12px 8px 12px 20px;
        font-size: 14px;
    }
    ul li::before{
        height: 15px;
        width: 15px;
        left: -1px;
    }
    ul li span{
        line-height: 36px;
        top: 2px;
        width: 1px;
        height: 31px;
}
    
}
